/Tareas/nbproject/private/
/02Grafico/nbproject/private/
/02Grafico/build/
/01Clases/dist/
/02Ventanas/nbproject/private/
/02Ventanas/build/
/Ventanas2/nbproject/private/
/03Ventanas/nbproject/private/
/03Ventanas/build/
/04Componentes/nbproject/private/
/04Componentes/build/
/04Componente/nbproject/private/
/04Componente/build/
/Inscripciones/target/
/jg.califica.colegio/target/
/jg.califica.app/target/
/00Poo/target/
/personal/nbproject/private/
/Inventario/nbproject/private/
/Personal/target/
/ucb/00Poo/target/
/ucb/01Clases/build/
/ucb/01Clases/dist/
/ucb/01Clases/nbproject/private/
/ucb/02Grafico/build/
/ucb/02Grafico/nbproject/private/
/ucb/02Ventanas/build/
/ucb/02Ventanas/nbproject/private/
/ucb/03Ventanas/build/
/ucb/03Ventanas/nbproject/private/
/ucb/04Componente/build/
/ucb/04Componente/nbproject/private/
/jg/Inscripciones/target/
/jg/Personal/target/
/jg/jg.califica.app/target/
/jg/jg.califica.colegio/target/
/05Inventario/target/
