/Tareas/nbproject/private/
/02Grafico/nbproject/private/
/02Grafico/build/
/01Clases/dist/
/02Ventanas/nbproject/private/
/02Ventanas/build/
/Ventanas2/nbproject/private/
/03Ventanas/nbproject/private/
/03Ventanas/build/
/04Componentes/nbproject/private/
/04Componentes/build/
/04Componente/nbproject/private/
/04Componente/build/
/Inscripciones/target/
